/* .img-1{
    background-image: url('/images/Banners/b1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.img-2{
    background-image: url('/images/Banners/b2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.img-3{
    background-image: url('/images/Banners/b3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.img-4{
    background-image: url('/images/Banners/b4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bannerFilme1{
    background-image: url('/images/bf1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
 */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.trapezio {
	width: 70%;
	height: 30px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 35px solid rgb(255, 255, 255);

}
